html,
body {
  display: block;
  height: 100%;
}

body {
  background: #eee;
  margin: 0;
}

main {
  display: grid;
  place-items: center;
  height: 100%;
}

canvas {
  background: #fff;
  border: 1px solid #aaa;
}

p {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  user-select: none;
}
